{
	"environment":"development",
	"baseUrl":"http://localhost",
	"baseApiName":"api",
	"relationalDb": {
		"host":"localhost",
		"databaseName": "tracker",
		"userName": "issuetracker",
		"password":"nevermind",
		"driver":"postgres"
	}
}
